/* Applies box sizing and resets the margin and padding of all elements */

  *,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* To make the body occupy all of the space html */
html, body {
  height: 100%;
}

/* To center the Calculator */
body{
  display: flex;
  justify-content: center;
  align-items:center;

  background-color: white;
}

.calculator {
  padding: 25px 25px 25px;
  border: 5px black solid;
  gap: 20px;

  /* To avoid issues from occuring when the window is resized */
  min-width: 400px;
  max-width: 400px;
  min-height: 400px;

  display: flex;
  /* Stacks the elements vertically */
  flex-direction: column;

  background-color: silver;
}

.firstRow {
  gap: 50px;

  width: 285px;
  height: 60px;

  background-color: black;
  color:white;

  text-align:center;

  margin-left:25px;

  display:flex;
  justify-content: flex-end;
  align-items:center;

  
  border: 5px lightslategray solid ;
}

.secondRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.thirdRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.fourthRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.fifthRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.keys {
  background-color: black;
  color: silver;

  width: 50px;

  text-align: center;

  font-size: larger;
  font-family: roboto;

  padding: 15px 20px;
  /* border: 5px #98d2db solid; */
}

.operators {
  background-color: white;
  color: black;
}

.display {
  background-color: black;
  font-weight: bolder;
  font-size: large;
  font-family: roboto;
  color: white;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
